%div.dashboard
    %section.wide-container
        %section.container
            %article.half.first
                %div.profile
                    %div.profile-image-frame
                        %div.profile-image{:style=>'background-image:url("'+@buddy+'");' }    
                    %div.profile-name 
                        =@username
                    %div.profile-points
                        =@user_points
                        %span points
            %article.half
                %div.user-badges
                    %h4 Latest interests
                    %ul.interests
                        %li.badge
                        %li.badge
                        %li.badge
                    %h4 Latest Trophies
                    %ul.trophy
                        %li.badge
                        %li.badge
                        %li.badge
                    
    %section.wide-container.tabs-container
        %div.container
            %ul.dashboard-tabs
                %li.dashboard-tab.active
                    %span.title Calories & Statistics
                %li.dashboard-tab
                    %span.title Your Game Progress
                %li.dashboard-tab
                    %span.title Your Achievements
                %li.dashboard-tab
                    %span.title Your Trophies
    %section.wide-container.dashboard-tabs-content
        %section.wide-container.tab-content
            %section.header
                %h2 Calories & Statistics
            %section.divided
                %section.container
                    %article.half.first.calories-heading
                        %ul.table-head
                            %li Consumed
                            %li Net
                            %li Burned
                    %article.half.statistics-heading
            %section.wide-section
                %section.container
                    %article.half.first.calories
                        %ul.table-head
                            %li +2000 cal
                            %li.net +2000 cal
                            %li -750 cal
                    %article.half.statistics
                        %div.stat-container
                            %div.stat
                            %div.stat
                            %div.stat        
                        %ul.stat-tabs
                            %li.stat-tab.stat-for-1.active
                                
                            %li.stat-tab.stat-for-2
                            %li.stat-tab.stat-for-3
            %section.wide-section{"ng-controller"=>"DateCtrl"}
                %section.container
                    %article.half.first.calendar-container
                        %div.calendar{"ng-model"=>"date","pickdate"=>""}
                    %article.half.details
                        %span {{date}}
                        %div#accordion
                            
                            %div.acc-header
                                %table
                                    %tr
                                        %td.title Breakfast
                                        %td 0
                                        %td 0
                                        %td 0
                                        %td.cal 56
                            %div.acc-content
                                %table
                                    %tr
                                        %td.title Bread
                                        %td 0
                                        %td 0
                                        %td 0
                                        %td.cal 56
                                        %td.action
                                    %tr
                                        %td.title Bread
                                        %td 0
                                        %td 0
                                        %td 0
                                        %td.cal 56
                                        %td.action
                            %div.acc-header
                                %table
                                    %tr
                                        %td.title Lunch
                                        %td 0
                                        %td 0
                                        %td 0
                                        %td.cal 56
                            %div.acc-content
                                %table
                                    %tr
                                        %td.title Bread
                                        %td 0
                                        %td 0
                                        %td 0
                                        %td.cal 56
                                        %td.action
                                    %tr
                                        %td.title Bread
                                        %td 0
                                        %td 0
                                        %td 0
                                        %td.cal 56
                                        %td.action
                            %div.acc-header
                                %table
                                    %tr
                                        %td.title Dinner
                                        %td 0
                                        %td 0
                                        %td 0
                                        %td.cal 56
                            %div.acc-content
                                %table
                                    %tr
                                        %td.title Bread
                                        %td 0
                                        %td 0
                                        %td 0
                                        %td.cal 56
                                        %td.action
                                    %tr
                                        %td.title Bread
                                        %td 0
                                        %td 0
                                        %td 0
                                        %td.cal 56
                                        %td.action
                            %div.acc-header
                                %table
                                    %tr
                                        %td.title Snack
                                        %td 0
                                        %td 0
                                        %td 0
                                        %td.cal 56
                            %div.acc-content
                                %table
                                    %tr
                                        %td.title Bread
                                        %td 0
                                        %td 0
                                        %td 0
                                        %td.cal 56
                                        %td.action
                                    %tr
                                        %td.title Bread
                                        %td 0
                                        %td 0
                                        %td 0
                                        %td.cal 56
                                        %td.action
                                    %tr
                                        %td.title Bread
                                        %td 0
                                        %td 0
                                        %td 0
                                        %td.cal 56
                                        %td.action
                                    %tr
                                        %td.title Bread
                                        %td 0
                                        %td 0
                                        %td 0
                                        %td.cal 56
                                        %td.action
                        %table.summ
                            %tfoot
                                %tr
                                    %th.food Total Food
                                    %th.workout Exercises
                                    %th.net NET
                            %tr
                                %td 400 cal
                                %td 600 cal
                                %td 70 cal
                                
                            
                            
        %section.wide-container.tab-content
            %section.header
                %h2 Your Game Progress
            %section.container
                
                    
        %section.wide-container.tab-content
            %section.header
                %h2 You are the Best! Here is Your Interests.
            %section.container
                %article.grid
        %section.wide-container.tab-content
            %section.header
                %h2 Your Awesome Trophies
            %section.container
                %article.grid
               
            