%section.wide-container.slider
    %article.slide{:style=>"background-image:url('/assets/slide_image.png')"}
        %div.container
            %h1 WATCHFITMOBILE
%section.wide-container.page-content{"data-ng-controller"=>"ArticleCtrl"}
    %section.bar
        %section.container
            %article.view
                %span.label views:
                %ul.views
                    %li grid
                    %li list
            %article.search
                %label{:for=>"search"} Search in articles: 
                %input#search{:type=>"search"}
    %section.container
        %aside.sidebar
            %h3.header
                %span.arrow
                %span.title Categories
            %ul
                %li.active{"ng-click"=>"loadAll();"}
                    %span.title All Articles
                    %span.current
                -@cat.each do |cat|
                    %li{"ng-click"=>"loadCategory('#{cat['slug']}');"}
                        %span.title #{cat['title']}
                        %span.current
                    
        %article.posts#masonry-container.infinite-scroll.transitions-enabled.clearfix
            %ul
                %li.grid-item{"ng-repeat"=>'item in items'} 
                    %h2 {{item.title}}
                    %div.excerpt
                        %div.image
                            %a{:href=>"post/{{item.id}}"}
                                %img{'ng-src'=>"{{item.thumbnail_images.medium.url}}" }
                        %p#body{"ng-bind-html-unsafe"=>"item.excerpt"}
                            
                    
                
                