%section.wide-container.page-content
    
    %section.container   
        %article.single-post
            %h1 
                = @posts['title']
            %div
                %p#body 
                    = @posts['content'].html_safe