%div.wide-container
    %div.container
        %ul.top-menu
            %li
                %a About Us
            %li
                %a Contact Us
            %li
                %a Privacy Policy
            %li
                %a Terms
        %ul.white-bar
            %li Nutritions
            %li Workout
            %li Articles
            %li Events
            
            