%section.wide-container.slider
    %article.slide{:style=>"background-image:url('/assets/slide_image.png')"}
        %div.container
            %h1 WATCHFITMOBILE
            %div.actions
                %div.btn.green.large Sign up TODAY
                %div.divider OR
                %div.btn.blue.large Take a Tour
%section.wide-container.tabs.home
    %section.container
        %ul
            %li.tab1
                %h2 Nutritions
                %div#svg1.svg
                    %span.nut.icon
            %li.tab2
                %h2 Workout
                %div#svg2.svg
                    %span.work.icon
            %li.tab3
                %h2 The Game
                %div#svg3.svg
                    %span.game.icon
                
%section.wide-container.tabs-content
    %section.container.tab-content-container
        %article.tab-content#nutritions
            %div.round-image.left
            %div.article-section Egyes Admodum anim voluptate. Ut de nisi nisi quis aut id labore singulis possumus, ut tempor comprehenderit, nam nisi ingeniis a consequat do senserit et ex de duis cernantur ad ingeniis tamen singulis cernantur a e multos illustriora. Nostrud minim vidisse id ullamco aut appellat. An hic esse incurreret. Anim proident sed varias anim, hic elit ad ipsum. Expetendis sempiternum a tempor.
        %article.tab-content#workout
            %div.round-image.left
            %div.article-section Kettes Admodum anim voluptate. Ut de nisi nisi quis aut id labore singulis possumus, ut tempor comprehenderit, nam nisi ingeniis a consequat do senserit et ex de duis cernantur ad ingeniis tamen singulis cernantur a e multos illustriora. Nostrud minim vidisse id ullamco aut appellat. An hic esse incurreret. Anim proident sed varias anim, hic elit ad ipsum. Expetendis sempiternum a tempor.
        %article.tab-content#game
            %div.round-image.left
            %div.article-section Hármas Admodum anim voluptate. Ut de nisi nisi quis aut id labore singulis possumus, ut tempor comprehenderit, nam nisi ingeniis a consequat do senserit et ex de duis cernantur ad ingeniis tamen singulis cernantur a e multos illustriora. Nostrud minim vidisse id ullamco aut appellat. An hic esse incurreret. Anim proident sed varias anim, hic elit ad ipsum. Expetendis sempiternum a tempor.
