// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";

.sidebar.closed
{
    border-right: 1px solid rgba(gray,.3);
    span.title
    {
        display: none;   
    }
}

.sidebar
{
    float:left;
    width: 176px;
    min-height:768px;
    background-image:image-url('sidebg.png');
    background-repeat: no-repeat;
    background-position: top left;
    overflow: visible;
    right: -16px;
    
    .header
    {
           background-image:image-url('sidebar_divider.png');
        background-position: bottom right;
        background-repeat: no-repeat;
        height: 50px;
        line-height: 50px;
        font-size: 17px;
        font-weight: 500;
        position: relative;
        text-indent: 18px;
        span.arrow
        {
            width: image-width('sidebar_arrow.png');
            height: image-height('sidebar_arrow.png');
            background-image: image-url('sidebar_arrow.png');
            position: absolute;
            right: 25px;
            top: 17px;
            cursor:pointer;
        }
    }
    
    ul li
    {
        height: 50px;
        line-height: 50px;
        position: relative;
        cursor:pointer;
        background-image:image-url('sidebar_divider.png');
        background-position: bottom right;
        background-repeat: no-repeat;
        text-indent: 16px;
        margin-right: 1px;
        
        span.current
        {
            width: 17px;
            height: 17px;
            background: gray;
            @include border-radius(12px);
            position: absolute;
            right: 20px;
            top:17px;
            @include transition(.2s all ease-out);
        }
        
        
    }
    
    ul li.active
    {
        span.current
        {
            width: 11px;
            height: 11px;
            @include border-radius(6px / 5px);
            @include background-clip(padding-box);
            background-color: #81bd1b;
            right: -5px;
            top:20px;

        }   
    }
}

.views 
{
    margin-left: 8px;
    float: left;
    
    li{
    float:left;
    width: 120px;
    @include box-shadow(1px 0px 0px white,inset 1px 0px 0px rgba(gray,.3));
    text-align: center;
    }
}

.views li:first-child
{
    @include box-shadow(0px 0px 0px rgba(white,0),inset 0px 0px 0px rgba(gray,.0));
}

.posts
{
    width: 760px;
    float: left;
    min-height: 768px;
    margin-top: 40px;
    .image
    {
            
        margin-top: 10px;
        width: 100%;
        img{
            width: 100%;   
            @include border-radius(150px);
            
            
            
        }
    }
    .grid-item
    {
        border-bottom: 1px solid rgba(gray,.4);
        width: 310px;
        display: inline-block;
        margin:15px;
        
        h2
        {
            font-family: open-sans;
            font-size: 17px;
            font-weight: 600;
        }
        
        p
        {
            margin-top: 10px;   
        }
    }
    
    .grid-item-left
    {
        border-bottom: 1px solid rgba(gray,.4);
        width: 600px;
        float: left;
        margin:15px;
        .image
        {
            float:left;
            width: 300px !important;
           
        }
    }
}

.single-post
{
        margin-top: 40px;
        float: left;
        width: 640px;
        h1{
            font-family: open-sans;
            
            font-weight: 600;
            margin-bottom: 40px;
            line-height: 50px;
    }
        
        p
        {
            margin-top: 10px;
            text-align: justify;
        } 
        
        
}