// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";

@mixin tab-item($number-of-tabs,$width-of-tab-container,$brdr)
{
    @if $brdr {width: ($width-of-tab-container / $number-of-tabs - 2 ) + px  }
    @else {width: ($width-of-tab-container / $number-of-tabs)+px}
    float:left;
    display: inline-block;
    min-height: 38px;
    text-align: center;
    line-height: 38px;
    color: grey;
    
}

.dashboard .wide-container
{
    @include box-shadow(inset 0px -1px 0px rgba(gray,.5), 0px 1px 0px white);
    clear: both;
    overflow: hidden;
    background-color: #dfdfdf;
}

.dashboard .wide-section
{

    @include box-shadow(inset 0px -1px 0px rgba(gray,.5), 0px 1px 0px white);
    .container
    {
        .half
        {
            padding-top: 20px;
            padding-bottom: 20px;    
        }
    }
    
}

.half
{
    float:left;
    width: 50%;
   
    
}

.half.first
{
    @include box-shadow(inset -1px 0px 0px rgba(gray,.5), 1px 0px 0px white);
}

.profile
{
    text-align: center;
    margin-top: 50px;
    height: 260px;
    color: #555;
    .profile-image-frame
    {
        width: 119px;
        height: 119px;
        border: 1px solid #a9a9a9;
        @include border-radius(69px);
        @include background-clip(padding-box);
        @include box-shadow(inset 0 1px 0 #fff);
        padding: 8px;
        text-align: center;
        display: inline-block;
    }
    .profile-image
    {
        width: 119px;
        height: 119px;
        @include border-radius(60px);
        @include background-clip(padding-box);
        background-color: #f1f1f1;
        @include box-shadow(inset 0 3px 5px rgba(0,0,0,.13),inset 0px 0px 1px black);
        background-size: auto 101%;
        background-position: top center;
        overflow: hidden;
        text-align:center;
        
    }
    
    .profile-name
    {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    
    .profile-points
    {
        font-size: 35px;
        font-weight: bold;
        font-style: italic;
    }
        
}

.user-badges
{
    margin-top: 35px;
    text-align: center;    
}


.wide-container.tabs-container
{
   background-color: #efefef;
    height: 49px;
}



.dashboard-tabs
{
    height: 49px;
    .dashboard-tab
    {
        @include tab-item(4,940,true);
        border-right: 1px solid rgba(gray,.5);
        cursor: pointer;
        @include box-shadow(1px 0px 0px white);
        height: 49px;
        line-height: 49px;
    }
    
    .dashboard-tab:first-child
    {
        border-left: 1px solid rgba(gray,.5);
        padding-right: 1px;
    }
    
    .dashboard-tab:last-child
    {
        
        
    }
        
    .dashboard-tab.active
    {
        @include box-shadow(inset 0px -4px 0px #1793fb);
    }
        
    .title
    {
        display: inline-block;
        color: #555;
        font-family: open-sans;
        font-size: 12px;
        font-weight: 500;

    }
}

section.header
{
    height: 108px;
    background-color: #fbfbfb;
    text-align: center;
    line-height: 109px;
    @include box-shadow(inset 0px -1px 0px rgba(gray,.5), 0px 1px 0px white);
}


.table-head
{
    text-align: center;
    li
    {
        display: inline-block;
        line-height: 38px;
        font-style: italic;
        font-weight: bold;
        width: 32%;
    }
    
    .net
    {
        
        color: #ffb900;
        font-family: open-sans;
        font-size: 30px;
        font-weight: 600;
        font-style: italic;  
        line-height: 70px;
    }
}


.divided
{
    border-bottom: 1px solid rgba(gray,.5);
    @include box-shadow(0px 1px 0px white);
    height: 38px;
}

.calories-heading, .statistics-heading
{
    height: 38px;
    
    
}

.calories , .statistics
{
    height: 340px;
    text-align: center;
    
}






.grid
{
    min-height: 500px;
   
}


//achievements & Trophy styling

.badge
{
    width: 67px;
    height: 67px;
    border: 3px solid #fff;
    @include border-radius(37px);
    @include background-clip(padding-box);
    background-color: #f1f1f1;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.13));
    display: inline-block;
    margin: 10px;
    overflow: hidden;

}


//Calories and Stats styling
.stat-container
{
    width: 402px;
    height: 213px;
    @include border-radius(2px);
    @include background-clip(padding-box);
    background-color: #fbfbfb;
    @include box-shadow(0 1px 1px rgba(86,86,86,.26));
    display: inline-block;
    margin-top: 40px;
    padding: 10px;
    overflow: hidden;
    
    
    .stat
    {
        
        width: 100%;
        height: 100%;
        display: none;
        
    }
    
}

.stat-tabs
    {
        .stat-tab
        {
            width: 12px;
            height: 12px;
            @include opacity(.58);
            @include border-radius(6px);
            @include background-clip(padding-box);
            background-color: #989898;
            display: inline-block;
            margin: 4px;

        }
    
        .stat-tab.active
        {
            background-color: #92d60f !important;
        }
    }

//calendar & details
.calendar-container
{
    text-align:center;
    .calendar
    {
        display: inline-block;   
        .ui-datepicker
        {
            
            padding: 0px;
            @include border-radius(3px);
            width: 407px;
           
            border: 1px solid rgba(131,131,131,.14);
            background-color: rgba(102,102,102,.09);
            text-align: center;
            
            table
            {
                margin: 0px;   
            }
            
            thead th
            {
                font-size: 15px;
                font-style: italic;
                height: 20px;
                padding: 0px;
            }
            
            thead tr
            {
                height: 20px;   
            }
            
            td
            {
                border-top: 1px solid rgba(gray,.2);
                border-right: 1px solid rgba(gray,.2);
                text-align: center;
                height: 55px;
                width: 55px;
                color: #747474;
                font-family: open-sans;
                font-size: 23px;
                font-weight: 400;
                font-style: italic;
                padding: 0px;

                @include box-shadow(inset 0px 1px 0px rgba(white,.4),inset 2px 0px 0px rgba(white,.4));
                a
                {
                    display: inline-block;   
                    color: #747474;
                    
                    @include transition(.2s all linear);
                    
                }
            }
            
            tr td:first-child
            {
               @include box-shadow(inset 0px 1px 0px rgba(white,.4),inset 0px 0px 0px rgba(white,.4)); 
            }
            
            tr td:last-child
            {
                border-right: 0px;
            }
        }
        
        .ui-datepicker-header, th
        {
            background-color: rgba(255,255,255,.35);   
        }
        
        .ui-datepicker-header
        {
            height: 40px;   
        }
        
        .ui-state-active
        {
           
                width: 42px !important;
                height: 42px !important;
                @include border-radius(21px);
                @include background-clip(padding-box);
                background-color: #14b3e8;
                padding: 0px;
                color: white !important;
                text-align: center;
                line-height: 42px;
            
           
        }
    }
}

//Accordion 

#accordion
{
    margin-left: 10px;
    
}

.acc-header
{
    width: 460px;
    height: 62px;
    background-color: rgba(#fff,.53);   
    padding:0px !important;
    margin: 0px !important;
    margin-bottom: 1px !important; 
    line-height: 62px !important;
    @include box-shadow(0 1px 0 rgba(83,83,83,.21));
    
    .ui-accordion-header-icon
    {
        width: 28px;
        height: 28px;
        @include border-radius(14px);
        @include background-clip(padding-box);
        background-color: #fff;
        margin-top: -14px !important;
        left: auto !important;
        right: .5em !important;
        @include transition(.2s all linear);
    }
    table
    {
        margin: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100%;   
    }
    
    
    
    .title
    {
        width: 90px; 
        color: #726f6f;
            font-family: open-sans;
            font-size: 16px;
            font-weight: 400;
            font-style: italic;
        text-align: left;
    }
    
    td
    {
        text-align: center;   
    }
}

.acc-header.ui-state-active
{
    .ui-accordion-header-icon
    {
    width: 28px;
    height: 28px;
    @include border-radius(14px);
    @include background-clip(padding-box);
    background-color: #c5d943; 
    }
}


.acc-content
{
    padding: 10px !important; 
    table
    {
        width: 100%;
        margin: 10px;
        
        
        tr
        {
            height: 38px;   
        }
        td
        {
            text-align: center;
        }
        
        .title
        {
            width: 80px;  
            text-align: left;
            

        }
    }
}

.summ
{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    
    th, td
    {
        text-align: center;
        width: 33.333333%
    }
    
    th
    {
        
        font-family: open-sans;
        font-size: 17px;
        font-weight: 500;
        font-style: italic;   
    }
    td
    {
        color: #726f6f;
        font-family: "Myriad Pro";
        font-size: 25px;
        font-weight: 400;
        font-style: italic;   
    }
    
    .food
    {
        color: #bbcd41;
    }
    
    .workout
    {
        color: #1baddb;
    }
    
    .net
    {
        color: #fdbb13;
    }
}