
@import "compass/reset";
@import "compass/css3";
$nav-margin: 35px;
$header-height: 68px;
@mixin tab-item($number-of-tabs,$width-of-tab-container,$brdr)
{
    @if $brdr {width: (($width-of-tab-container / $number-of-tabs) -2 )px }
    @else {width: ($width-of-tab-container / $number-of-tabs)+px}
    float:left;
    display: inline-block;
    min-height: 38px;
    text-align: center;
    line-height: 38px;
    color: grey;
    
}

a{
    text-decoration:none !important;
}

label
{
    margin-right:10px;   
}

.label
{
    float:left;
    margin-right: 10px;
}

.page-content{
   
    h1,h2,h3
    {
        font-weight: bold;   
    }
    h1
    {
        font-size: 35px;
    }
    
    h2
    {
        font-size: 17px;
    }
    
    h3
    {
        font-size: 15px;
    }
    
}

.articles_controller .articles > a
{
    font-weight: 500 !important;        
    color: #1793fb !important;
}


.tabs.home, .tabs-content
{
    position:relative;
    z-index: 1000;   
}

.tabs.home
{
    ul
    {
        position: absolute;
    }
}



.btn
{
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    @include border-radius(4px);
    @include background-clip(padding-box);
    display: inline-block;
    line-height: 35px;
    font-size: 13px;
    min-width: 90px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    cursor:pointer;
}

.btn.normal
{
    background-color: #fff;
    @include box-shadow(0 1px 0 rgba(0,0,0,.18), inset 0 0 1px 1px rgba(255,255,255,.48));
    @include background-image(linear-gradient(bottom, rgba(0,0,0,.08) 0%, rgba(255,255,255,.08) 100%));
    color: grey;
}

.btn.green
{
    background-color: #8bcb1d;
    @include box-shadow(0 1px 1px rgba(0,0,0,.4), inset 0 0 0 1px rgba(91,203,255,.31) !important);
    @include background-image(linear-gradient(bottom, rgba(0,0,0,.22) 0%, rgba(255,255,255,.22) 100%) !important);
    color: white;
}

.btn.blue
{
    background-color: #1793fb;
    @include box-shadow(0 1px 1px rgba(0,0,0,.71), inset 0 0 0 1px rgba(91,203,255,.31) !important);
    @include background-image(linear-gradient(bottom, rgba(0,0,0,.22) 0%, rgba(255,255,255,.22) 100%) !important); 
    color: white;
}


.btn.large
{
    height: 52px !important;
    line-height: 52px;
    padding-left: 30px;
    padding-right: 30px;
    
}




.actions
{
    display: inline-block; 
    
    .divider
    {
        display: inline-block;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.actions.left
{
    float: left;
}

.actions.right
{
    float: right;
}


.tabs
{
    li
    {
        @include tab-item(3,940,false);
        cursor:pointer;
    }
    
    h2
    {
        color: #666;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-weight: 600;

    }
}




body{
    background-color: #e0e0e0;
    font-family: open-sans;
}

header
{
    height:$header-height;
    border-top: 4px solid #1793fb;
    @include background-clip(padding-box);
    background-color: #f1f1f1;
    @include box-shadow(0 1px 0  rgba(0,0,0,.11));
    position: fixed;
    width: 100%;
    z-index: 100000;
    nav
    {
        width: 940px;
        margin: 0px auto;
        position: relative;
        line-height: 68px;
        
        #logo
        {
            @include background-image(image-url('logo.png'));
            width: image-width('logo.png');
            height: image-height('logo.png');
            margin-top:15px;
            float:left;
            
            a{
                width: 100%;
                height: 100%;
                display: block;
            }
        
        }
        
        ul{
            float:left;
            
            li{
               
                color: #555;
                font-family: "Open Sans", sans-serif;
                font-size: 14px;
                font-weight: 500;
                display: inline-block;
                margin-left: $nav-margin;
                margin-right: $nav-margin;
                @include transition(all 0.3s);
                cursor:pointer;
                a{
                   color: #555;      
                }
            }
            
            li:hover
            {
                a{
                    color: #1793fb;
                }
            }
                
            
        }
    }
}


#wrapper
{
    padding-top:  $header-height;
    min-height: 768px;
    
    background-color: #f1f1f1;   
    .container
    {
        
        width: 940px;
        margin: 0px auto;
        line-height: 27px;
        color: gray;
        font-size: 13px;
        clear: both;
        overflow: hidden;
        
        
    }
    
    .page-content
    {
        background:#f1f1f1;
        z-index: 1000;
        min-height: 768px;
        position: relative;
        
        .bar
        {
            height: 65px;
            background-color: #f1f1f1;
            @include box-shadow(0 -2px 4px rgba(0,0,0,.13));   
            border-bottom: 1px solid rgba(gray,.3);
            line-height: 65px;
            
            .container
            {
                line-height: 65px;   
            }
            
            article
            {
                height: 65px;
                line-height: 65px;
            }
            .search
            {
                float:right;   
            }
            
            input#search
            {
                display: inline-block;
                width: 208px;
                height: 36px;
                border: 1px solid #d5d5d5;
                @include border-radius(18px);
                @include background-clip(padding-box);
                background-color: #fff;
                padding: 5px;
                outline: none;
                

            }
            
            .view
            {
                float:left;   
            }
        }
    }
    
   
    
    .slider
    {
        background:#565656;
        height: 440px;
        
        
        
        .slide
        {
            height: 100%;
            width: 100%;
            background-position:top center;
            text-align: center;
            
            .container
            {
                padding-top: 120px;
                
            }
            
            h1{
                
                color: white;
                font-size: 60px;
                font-style: italic;
                @include text-shadow(0 1px 2px rgba(0,0,0,.29));
                position: relative;
                line-height: 80px;
            }
        }
    }
    
    .wide-container
    {
        width: 100%;
        display:block;
        clear:both;
    }
    
    .tabs
    {
        background:#f1f1f1; 
        clear:left;
        z-index: 1001;
        
    }
    
    .tab-content-container
    {
        min-height: 300px;
        padding-top: 60px;

        
    }
    
    
    
    
}

footer
{
    .wide-container
    {
        width: 100%;
        display:block;
        clear:both;
    }
    
    .container
    {
        
        width: 940px;
        margin: 0px auto;
        line-height: 27px;
        color: gray;
        font-size: 13px;
        clear: both;
        overflow: hidden;
        
        
    }
    
    .top-menu
    {
        line-height: 40px;
        margin-top: 10px;
        overflow: hidden;
        
        li 
        {
            float: left;
            margin-right: 40px;
            a{
                   color: white;
                    
            }
        }
        clear: left;
    }
    
    .white-bar
    {
        margin-top: 10px;
        height: 46px;
        @include border-radius(3px);
        @include background-clip(padding-box);
        background-color: #fff;
        @include box-shadow(0 1px 0 rgba(0,0,0,.16));
        line-height:46px;
        color: gray;
        clear: both;
        text-align: center;
        
        
        li{
            display: inline-block;
            width: 220px;
            font-weight: normal;
            font-size: 15px;
        }
    }   
}

.content
{
        background-color: #f7f7f7;   
}

.svg
{
    margin-top: 0px;
    position: relative;
}


footer
{
    height: 300px;
    background-color: #0c82e5;
    @include box-shadow(inset 0 1px 0 rgba(0,0,0,.22));   
    position: relative;
    z-index: 20000;
}
#second-footer
{
    height: 50px;
    width: 100%;
    background-color: #313131; 
    position: absolute;
    bottom: 0px;
}

//Home Specials
    .tabs.home
    {
        height:208px;
        border-bottom: 1px solid rgba(gray,.3);
        border-top: 1px solid rgba(gray,.3);
        padding-bottom: 45px;
        li
        {
            padding-top: 45px;
            background:image-url('home-tab-divider_shade.png');
            background-repeat: no-repeat;
            background-position: top right;
        
            span.icon
            {
                background-image:image-url('tab_icons.png');
               
                position: absolute;
                left:50%;
                top: 40px;
            }
            span.nut
            {
                background-position:0px -2px;
                width: 61px;
                height: 40px;
                margin-left:-31.5px;
                top: 43px;
            }
            span.work
            {
                background-position: -319px -2px;
                width: 59px;
                height: 37px;
                margin-left:-29.5px;
                top: 44px;
            }
            span.game
            {
                background-position: -645px 0px;
                width: 54px;
	            height: 50px;
                margin-left:-27px;
            }
        }
    
        li:last-child
        {
            background: transparent !important;
        }
    }

    .article-section
    {
        padding-top: 80px;
    }

    .tabs-content
    {
        background-color: #f7f7f7;  
        padding-bottom: $header-height;
    }
//UI Specials
    
    .round-image
    {
        border: 7px solid #fff;
        @include border-radius(147px);
        @include background-clip(padding-box);
        background-color: #f1f1f1;
        @include box-shadow(inset 0 3px 5px rgba(0,0,0,.13));
        overflow:hidden;
        min-width: 280px;
        min-height: 280px;
        display: inline-block;
        margin-right: 40px;
    }

    .left
    {
        float:left;
    }

    .right
    {
        float: right;
    }

   