!!!doctype
%html{:lang=>"en","ng-app"=>"watchfit"}
    %head
        %meta{:charset=>"utf-8"}
        %title 
            =@title
        <script>var __adobewebfontsappname__ = "code"</script>
        <script src="http://use.edgefonts.net/open-sans:n7,i7,n8,i8,i4,n3,i3,n4,n6,i6:all.js"></script>
        <script src="http://www.google.com/jsapi"></script>
        = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
        = csrf_meta_tags
        
    %body{:class=>params[:controller]+"_controller"}
        %header
            %nav
                %div#logo
                    =link_to '', root_url
                %ul
                    %li{:class=>"articles"}
                        =link_to 'Articles', '/articles'
                    %li{:class=>"events"}
                        =link_to 'Events', '/events'
                    %li{:class=>"nutritions"} 
                        =link_to 'Nutrition', '/nutrition'
                    %li{:class=>"workout"}
                        =link_to 'Workout', '/workout'
                %div.actions.right
                    %div.btn.normal Register
                    %div.btn.green Login
        %div#wrapper.content
            = yield
        %footer
            = render file: "shared/footer.html.haml"
            %div#second-footer
        
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        = javascript_include_tag "application"
        
        